<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="google-site-verification" content="HKUH4vzyxmoAbsFEKcjq0DZUMXtUYZHciBbLw5mMupc" />
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/output.css" />